<div class="footer-container">
  <div class="footer-line-top"></div>
  <div class="footer-table">
    <div class="footer-table-left">
      <span>[WIKI_FOOTER_TEXT_LEFT]</span>
    </div>
    <div class="footer-table-middle">
      <span>[WIKI_FOOTER_TEXT_MIDDLE]</span>
    </div>
    <div class="footer-table-right">
      <span>[WIKI_FOOTER_TEXT_RIGHT]</span>
    </div>
  </div>
  <div class="footer-line-bottom"></div>
</div>
