<div class="header-container">
  <div class="header-line-top"></div>
  <div class="header-table">
    <div class="header-table-left">
      <span>[WIKI_HEADER_TEXT_LEFT]</span>
    </div>
    <div class="header-table-middle">
      <span>[WIKI_HEADER_TEXT_MIDDLE]</span>
    </div>
    <div class="header-table-right">
      <span>[WIKI_HEADER_TEXT_RIGHT]</span>
    </div>
  </div>
  <div class="header-line-bottom"></div>
</div>
