/* === ********************************* === */
/* === |  Adrian DC | gitlab-wiki-pdf  | === */
/* === ********************************* === */

/* === Logo styles === */
.markdown-body > p > img:first-of-type {
  display: block;
  margin: auto;
}

/* === Separators styles === */
.markdown-body hr {
  background-color: [WIKI_COLORS_SEPARATOR];
  height: 1px;
  margin: 18px 2px;
}

.markdown-body div.page-break {
  page-break-before: always;
}

/* === Headers styles === */
.markdown-body h1,
.markdown-body h2,
.markdown-body h3 {
  font-weight: bold;
  margin-bottom: 0;
}

.markdown-body h1 {
  text-align: center;
}

.markdown-body h1,
.markdown-body h2 {
  color: [WIKI_COLORS_PRIMARY];
  border-bottom: none;
}

.markdown-body h3 {
  color: [WIKI_COLORS_SECONDARY];
  margin-left: 0.5em;
  padding-bottom: 0.3em;
}

.markdown-body h4 {
  color: [WIKI_COLORS_TERTIARY];
  display: list-item;
  font-size: 110%;
  font-weight: bold;
  list-style: disclosure-closed;
  list-style-position: inside;
  margin-left: 2em;
}

.markdown-body h4:first-child {
  margin-top: 0.2em;
}

.markdown-body h5 {
  color: [WIKI_COLORS_TERTIARY];
  font-size: inherit;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 3.5em;
  margin-top: 1.0em;
}

/* === Links styles === */
.markdown-body a {
  color: [WIKI_COLORS_PRIMARY];
}

.markdown-body ul > li > a {
  font-weight: bold;
}

.markdown-body ul > li > ul > li > a {
  font-weight: normal;
}

/* === Lists styles === */
.markdown-body ol,
.markdown-body ul {
  margin-left: 1.5em;
  margin-bottom: 0px;
  padding-left: 2em;
}

.markdown-body ol li {
  padding-top: 0.5em;
}

.markdown-body li ul {
  padding-bottom: 0.5em;
}

/* === Preformated styles === */
.markdown-body pre {
  background-color: transparent;
  margin: 1.0em 3.5em;
  padding: 8px 16px;
}

.markdown-body pre code {
  display: block;
  margin-left: 1.5em;
  white-space: pre-wrap;
}

/* === Header styles ===  */
.markdown-header,
.markdown-header .header-container {
  width: 100%;
}

.markdown-header .header-line-top {
  border-top: 2px solid [WIKI_COLORS_PRIMARY];
  margin-right: 30%;
}

.markdown-header .header-table {
  display: table;
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
  font-size: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  user-select: none;
  width: 100%;
}

.markdown-header .header-table-left {
  display: table-cell;
  padding-left: 40px;
  text-align: left;
  width: 10%;
}

.markdown-header .header-table-middle {
  display: table-cell;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  width: 80%;
}

.markdown-header .header-table-right {
  display: table-cell;
  padding-right: 40px;
  text-align: right;
  width: 10%;
}

.markdown-header .header-line-bottom {
  border-bottom: 4px solid [WIKI_COLORS_PRIMARY];
  margin-left: 30%;
}

/* === Footer styles === */
.markdown-footer,
.markdown-footer .footer-container {
  width: 100%;
}

.markdown-footer .footer-line-top {
  border-top: 2px solid [WIKI_COLORS_PRIMARY];
  margin-right: 30%;
}

.markdown-footer .footer-table {
  display: table;
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
  font-size: 8px;
  padding-bottom: 4px;
  padding-top: 10px;
  user-select: none;
  width: 100%;
}

.markdown-footer .footer-table-left {
  display: table-cell;
  padding-left: 40px;
  text-align: left;
  width: 64%;
}

.markdown-footer .footer-table-middle {
  display: table-cell;
  text-align: center;
  width: 1%;
}

.markdown-footer .footer-table-right {
  display: table-cell;
  padding-right: 40px;
  text-align: right;
  width: 35%;
}

.markdown-footer .footer-line-bottom {
  border-bottom: none;
  margin-left: none;
}
